$fonts: arial, Helvetica;
$primary: #aa5739;
$secondary: #aa7939;
$tertiary: #88ad39;
$white: #fff;


html{
	font-family: $fonts;
	height:100%
}

body{
	margin:0;
	#header{
		margin: 0 0 .1em 0;
		padding:.4em 0 0 0;
		background-color: $primary;
		width:100%;
		.mainHeader{
			text-align: center;
			color:$white;
			font-size: 4em;
			margin:0;
		}
	}
	
	color:$primary;
	a{
		text-decoration: none;
	}
	a:link{
		color:$primary;
	}
	a:active{
		color:$secondary;
	}
	a:visited{
		color:$primary;
	}
	a:hover{
		color:$secondary;
	}
	// height: 100%;
}



.menu{
	text-align:center;
	li{
		list-style-type: none;
		display:inline-block;
		padding:0 1em 0 1em;
	}
}

#main{
	height:100%;
	margin-bottom: -4em;
	width:75%;
	background-color: $tertiary;
	margin-right: auto;
	margin-left:auto;
	padding:.4em;
}

.center{
	text-align: center;
}

.partsOfSpeech{
	list-style-type:none;
	display: inline;
}
.partsOfSpeechInput{
	float:right;
	clear:both;
}

#libtext{
	width:50%;
	height:200px;
}
.textForm label{
	display:block;
	padding: 1em;
}
.completedLib{
	padding:1em;
	margin:2em;
	background-color: $primary;
	color: $white;
}


//buttons
button.std, input.std{
	background-color: $secondary;
	color:$white;
	padding:.6em;
	margin-top:.2em;
	font-size: 1.2em;
	border-radius:.2em;
	
}
button.values{
		margin-top:1em;
}
button.right{
	margin-right:0;
	margin-left:auto;
}
button.giant{
	font-size: 3em;
	padding: .4em 2em .4em 2em;
}

.banner{
	padding:.6em;
	color:$white;
	background-color:$primary;
}





@media (min-width: 800px){
	#main{
		width:50%;
	}
	form.std{
		input{
			display:inline;
		}
	}
}

