<h2>
Badlibs
</h2>
<div class="ratingSelect">
	<select name="rate" ng-model="rating" ng-options="rating.value for rating in allRatings" ng-change="selectbyRating(rating)">
		<option value="">Show All</option>
	</select>
</div>
<ul>
	
	<li ng-repeat="lib in libsView">
		<a href="badlibs/[[lib._id]]">
			[[lib.title]] - [[lib.rating]]
		</a>
	</li>
	
</ul>