<h2>Create</h2>

<form class="textForm">

	<label for="title">Title:</label>
	<input type="text" name="title" ng-model="lib.title">
	<label for="text">Text:</label>
	<textarea name="text" ng-model="lib.text" id="libtext"></textarea>
	<label for="rate">Rating:</label>
	<select name="rate" ng-model="lib.rating" ng-options="rating.value as rating.value for rating in allRatings">
	</select>
	<input type="submit" value="Submit" ng-click="createLib(lib)">
	<button ng-click="clear()">Clear</button>
</form>

<div class="partsOfSpeech">
	<button ng-repeat="partOfSpeech in allPartsOfSpeech" ng-click="append(partOfSpeech)">[[partOfSpeech.value]]</button>

</div>