<h2>Create</h2>

<form class="textForm">

	<label for="title">Title:</label>
	<input type="text" name="title" ng-model="lib.title">
	<label for="text">Title:</label>
	<input type="text" name="text" ng-model="lib.text">
	<label for="rating">Title:</label>
	<input type="text" name="rating" ng-model="lib.rating">
	<input type="submit" value="Submit" ng-click="createLib()">

</form>