<h2>Create</h2>

<form class="textForm">

	<label for="title">Title:
	<input type="text" name="title" ng-model="lib.title"></label>
	<label for="text">Text:
	<textarea name="text" ng-model="lib.text" id="libtext"></textarea></label>
	<label for="rate">Rating:
	<select name="rate" ng-model="lib.rating" ng-options="rating.value as rating.value for rating in allRatings">
	</select></label>
	
</form>

<div class="partsOfSpeech textForm">
	<label>Parts of Speech:</label>
	<button ng-repeat="partOfSpeech in allPartsOfSpeech" ng-click="append(partOfSpeech)">[[partOfSpeech.value]]</button>
</div>

<div class="submit textForm">
	<label>Save/Start Over:</label>
	<input class="std" type="submit" value="Submit" ng-click="createLib(lib)">
	<button class="std" ng-click="clear()">Clear</button>
</div>