{{define "index"}}


<ul class="menu">
	<li><a href="/"><button class="std">Play Badlibs</button></a></li>
	<li><a href="/create"><button class="std">Create Badlibs</button></a></li>
</ul>


	


<div class="main">
	

	

</div>




	
	
{{end}}